table{
    width: 100%;    
    border-collapse: collapse;
    background-color: lightskyblue; 
    margin-left: -30px;
      
}
table th {
    background-color: black;
    color: white;
    padding-top: 12px;  
    padding-bottom: 12px;   
    text-align: center; 
   border-right: black 3px solid;
}   

table td {
    padding: 8px;  
     border: 1px solid black;   
}